<!DOCTYPE html>
<html ng-app>
<head>
	<title></title>
</head>
<body>

<div ng-controller="Controller">
	<p id="p">Hello {{name}} !!!</p>
	<button ng-click="setName()">set name</button>
	<button ng-click="addInterpolation()">add interpolation</button>
	<button ng-click="changeNode()">change node</button>
	<button ng-click="compile()">compile</button>
</div>


<script type="text/javascript" src="../../build/angular.js"></script>
<script type="text/javascript" src="app.js"></script>

</body>
</html>